<div>
  <form [formGroup]="profileForm"
        (ngSubmit)="onSubmit()">
    <label for="first-name">First Name *</label>
    <input type="text" id="first-name" required formControlName="firstName">


    <label for="last-name">Last Name *</label>
    <input type="text" id="last-name" required formControlName="lastName">

    <div formGroupName="address">
      <h2>Address</h2>
      <label for="street">Street*: </label>
      <input id="street" type="text" required formControlName="street">

      <label for="city">City*: </label>
      <input id="city" type="text" required formControlName="city">

      <label for="state">State: </label>
      <input id="state" type="text" formControlName="state">

      <label for="zip">Zip Code: </label>
      <input id="zip" type="text" formControlName="zip">
    </div>

    <p>Complete the form to enable button.</p>
    <div>
      DEBUG json value {{profileForm.value | json}}
    </div>

    <button type="button" (click)="updateProfile()">Update Profile</button>

    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>
</div>
