<div class="container p-3">
  <h1>User Form</h1>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="first-name">First Name *</label>
      <input type="text" class="form-control" id="first-name" required formControlName="firstName">
      <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
           class="alert alert-danger">

        <div *ngIf="firstName?.errors?.['required']">
          Name is required.
        </div>
        <div *ngIf="firstName?.errors?.['minlength']">
          Name must be at least 4 characters long.
        </div>
        <div *ngIf="firstName?.errors?.['forbiddenName']">
          Name is forbidden!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="last-name">Last Name *</label>
      <input type="text" class="form-control" id="last-name" required formControlName="lastName">
    </div>

    <div class="form-group" formGroupName="address">
      <h2>Address</h2>
      <label for="street">Street*: </label>
      <input class="form-control" id="street" type="text" required formControlName="street">

      <label for="city">City*: </label>
      <input class="form-control" id="city" type="text" required formControlName="city">

      <label for="state">State: </label>
      <input class="form-control" id="state" type="text" formControlName="state">

      <label for="zip">Zip Code: </label>
      <input class="form-control" id="zip" type="text" formControlName="zip">
    </div>

    <p>Complete the form to enable button.</p>
    <div>
      DEBUG json value {{profileForm.value | json}}
    </div>

    <button class="btn btn-info" type="button" (click)="updateProfile()">Update Profile</button>


    <div class="form-group" formArrayName="aliases">
      <h2>Aliases</h2>
      <button class="btn btn-info" type="button" (click)="addAlias()">+ Add another alias</button>

      <div *ngFor="let alias of aliases.controls; let i=index">
        <label for="alias-{{ i }}">Alias:</label>
        <input class="form-control" id="alias-{{ i }}" type="text" [formControlName]="i">
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>
</div>
